<div class="container p-1">
  <button class="btn btn-primary" (click)="enableIntervalOperator()">Запустить</button>
</div>

<div class="container d-flex p-1">
  <div class="col">
    <table class="table table-hover">
      <thead>
      <tr>
        <button class="btn btn-primary" (click)="disableIntervalOperator()">Остановить</button>
      </tr>
      <tr>
        <th>Числа по порядку</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let last of numArray">
        <td>{{last}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col">
    <table class="table table-hover">
      <thead>
      <tr>
        <button class="btn btn-primary" (click)="disableIntervalOperatorRand()">Остановить</button>
      </tr>
      <tr>
        <th>Рандомные числа</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let last of numArrayRand">
        <td>{{last}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
