<form class="container my-auto">
  <!--Валидация поля "Название"-->
  <div class="mb-3">
    <label class="form-label">Название</label>
    <input
      minlength="1"
      maxlength="30"
      pattern="[а-яА-ЯёЁ]*"
      required
      #title="ngModel"
      name="title"
      [(ngModel)]="newBook.title"
      type="text"
      class="form-control"
    />
  </div>

  <div *ngIf="title.invalid && (title.dirty || title.touched)">
    <div
      *ngIf="title.hasError('minlength')"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Минимальная длинна должна быть больше 1 символа
    </div>
    <div
      *ngIf="title.hasError('maxlength')"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Максимальная длинна должна быть менее 30 символов
    </div>
    <div
      *ngIf="title.hasError('required')"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Поле должно быть заполнено
    </div>
    <div
      *ngIf="title.hasError('pattern')"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Поле не должно содержать спец. символов, пробелов и цифр
    </div>
  </div>

  <!--Валидация поля "Автор"-->
  <div class="mb-3">
    <label class="form-label">Автор</label>
    <input
      minlength="1"
      maxlength="30"
      pattern="[а-яА-ЯёЁ]*"
      required
      #author="ngModel"
      name="author"
      [(ngModel)]="newBook.author"
      type="text"
      class="form-control"
    />
  </div>

  <div *ngIf="author.invalid && (author.dirty || author.touched)">
    <div
      *ngIf="author.hasError('minlength')"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Минимальная длинна должна быть больше 1 символа
    </div>
    <div
      *ngIf="author.hasError('maxlength')"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Максимальная длинна должна быть менее 30 символов
    </div>
    <div
      *ngIf="author.hasError('required')"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Поле должно быть заполнено
    </div>
    <div
      *ngIf="author.hasError('pattern')"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Поле не должно содержать спец. символов, пробелов и цифр
    </div>
  </div>

  <button
    [disabled]="title.invalid || author.invalid"
    (click)="createBook()"
    class="btn btn-primary"
  >
    Добавить книгу
  </button>

<h1 class="display-6 container m-5">Список книг</h1>
<table class="table table-striped container">
  <thead>
  <tr>
    <th>Номер</th>
    <th>Название книги</th>
    <th>Автор</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
  </tr>
  </tbody>
</table>
</form>
