<h3 class="m-2">Информация о записи</h3>
<table class="table m-2" [attr.contenteditable]="isEditable">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">userId</th>
    <th scope="col">title</th>
    <th scope="col">body</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">{{ post.id }}</th>
    <td>{{ post.userId }}</td>
    <td>{{ post.title }}</td>
    <td>{{ post.body }}</td>
  </tr>
  </tbody>
</table>

<button
  [disabled]="role === 'user'"
  class="btn btn-primary m-2"
  routerLink="edit-post"
  (click)="isEditable = !isEditable"
>Редактировать
</button>

<button
  class="btn btn-primary m-2"
  routerLink="posts-list"
  (click)="checkBtn()"
>Обновить данные записи
</button>

<a routerLink="/" class="btn btn-link">На главную</a>
<router-outlet ></router-outlet>
